<div style="margin-top: 20px; padding: 40px 0 20px 0;">
  <div class="container">
    <h3 style="text-align: center; text-transform: uppercase; margin-bottom: 40px; font-weight: 800; color: rgb(24, 177, 198); font-family: roboto;">Hỗ trợ trực tuyến</h3>
    <div class="chatbox__container" style="      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16); border-radius: 5px;padding: 10px 5px 5px 5px;" class="ms">
      <div  style="height: calc(100vh - 144px); overflow-y: auto;background-image: url(https://images.unsplash.com/photo-1544716278-ca5e3f4abd8c); background-size: contain;background-repeat: repeat; " #messageContainer>
        <div *ngIf="listMessage" style="padding-bottom: 20px;">
          <div *ngIf="listMessage.length == 0" style="display: flex;justify-content: center; padding-bottom: 10px;">
            <div style="padding: 8px 10px; width: fit-content; box-shadow: 0 2px 6px rgba(0, 0, 0, 0.14); border-radius: 10px; margin-top: 5px; background-color: white;"><p style="text-align: center; margin: 0;">Bạn cần giúp đỡ?</p></div>
          </div>
          <div *ngIf="listMessage.length != 0">
            <div *ngFor="let item of listMessage">
              <div *ngIf="item.employeeId" style="display: flex; justify-content: left; margin-top: 10px; margin-left: 10px;" >

                <div style="width: 50px; height: 50px; object-fit: contain; border-radius: 28px; display: flex; align-items: center; justify-content: center; border: solid 1px rgb(182, 182, 254); background-color: rgb(255, 255, 255);">
                  <img src="https://cdn-icons-png.flaticon.com/512/8750/8750683.png" alt="" style="width: 50px; height: 50px; object-fit: cover; border-radius: 28px;" >
                </div>
                <div  style="padding: 8px 10px; width: fit-content; box-shadow: 0 2px 6px rgba(0, 0, 0, 0.14); border-radius: 10px; margin-top: 5px; margin-left: 10px;background-color: rgb(185, 231, 250);" >
                  <p style="text-align: center; margin: 0;">{{item.message}}</p>
                </div>

              </div>
              <div *ngIf="!item.employeeId" style="display: flex; justify-content: right; margin-top: 10px; margin-right: 10px;">

                <div  style="padding: 8px 10px; width: fit-content; box-shadow: 0 2px 6px rgba(0, 0, 0, 0.14); border-radius: 10px; margin-top: 5px; margin-right: 10px;background-color: rgb(185, 231, 250);" >
                  <p style="text-align: center; margin: 0;">{{item.message}}</p>
                </div>
                <div style="width: 50px; height: 50px; object-fit: contain; border-radius: 28px; display: flex; align-items: center; justify-content: center; border: solid 1px rgb(182, 182, 254); background-color: rgb(255, 255, 255);">
                  <img src="https://static.vecteezy.com/system/resources/previews/000/290/610/non_2x/administration-vector-icon.jpg" alt="" style="width: 50px; height: 50px; object-fit: cover; border-radius: 28px;" >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="write__container">
        <div class="write__box" style="width: 100%; padding: 5px;">
          <div>
            <input type="text" pInputText [(ngModel)]="currentChat" placeholder="Bạn đang nghĩ gì?" style="width: 100%; padding: 7px" (keydown)="submit($event)"/>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <div class="container">
    <div class="row footer-container">
      <div class="col-sm-12 col-lg-4 f-sec1  text-center text-lg-left">
        <h4 class="high-lighted-heading">About Us</h4>
        <p>We take our mission of increasing our global access to quality education seriously. </p>
        <a href="#">Read more</a>
        <h4>Social Network</h4>
        <div class="s-icons">
          <ul class="social-icons-simple">
            <li><a href="javascript:void(0)" class="facebook-bg-hvr"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
            <li><a href="javascript:void(0)" class="twitter-bg-hvr"><i class="fab fa-twitter" aria-hidden="true"></i></a> </li>
            <li><a href="javascript:void(0)" class="instagram-bg-hvr"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-12 col-lg-5 f-sec2 ">
        <div class="row">
          <div class="col-12 col-md-6">
            <h4 class="text-center text-md-left">Information</h4>
            <ul class="text-center text-md-left">
              <li><a href="javascript:void(0)">About Us</a></li>
              <li><a href="javascript:void(0)">Delivery Information</a></li>
              <li><a href="javascript:void(0)">Privacy Policy</a></li>
              <li><a href="javascript:void(0)">Terms & Condition</a></li>
              <li><a href="javascript:void(0)">FAQ</a></li>
              <li><a href="../style/book-shop/contact.html">Contact Us</a></li>
              <li><a href="../style/book-shop/product-listing.html">Products</a></li>
            </ul>
          </div>
          <div class="col-12 col-md-6">
            <h4 class="text-center text-md-left">Account Info</h4>
            <ul class="text-center text-md-left">
              <li><a href="javascript:void(0)">Login & Register</a></li>
              <li><a href="../style/book-shop/shop-cart.html">Order History</a></li>
              <li><a href="javascript:void(0)">Shipping Info</a></li>
              <li><a href="javascript:void(0)">Refund Policy</a></li>
              <li><a href="javascript:void(0)">Responsive Website</a></li>
              <li><a href="javascript:void(0)">Subscription</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-lg-3 f-sec3  text-center text-lg-left">
        <h4>Our Portfolio</h4>
        <div class="foot-tag-list">
          <span>Classic</span>
          <span>Journal</span>
          <span>History</span>
          <span>Poetry</span>
          <span>Dictionary</span>
          <span>Shopping</span>
          <span>Fantasy</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 footer_notes">
        <p class="whitecolor text-center w-100 wow fadeInDown">&copy; 2020 MegaOne. Made With Love by <a class="web-link" href="http://www.themesindustry.com/" target="_blank">Themesindustry</a></p>
      </div>
    </div>
  </div>
</div>
